<form class="form-horizontal" *ngIf="profil">
    <h2>{{profil.name || "Nouveau Profil"}}</h2>
    <fieldset>
        <div class="form-group">
            <label for="inputProfilName" class="col-lg-4 control-label">Intitulé : </label>
            <div class="col-lg-8">
                <input type="text" autofocus required name="profilName" class="form-control" id="inputProfilName" placeholder="Un titre pour ce profil" [(ngModel)]=profil.name>
            </div>
        </div>
        <div class="form-group">
            <label for="inputAppFormat" class="col-lg-4 control-label">Logicels : </label>
            <div class="col-lg-8">
                <pre>{{profil.apps | json}}</pre>
                <app-multi-select [list]=profil.apps></app-multi-select>
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="col-lg-8 col-lg-offset-4">
                <button type="reset" class="btn btn-default" (click)="profil=null">Annuler</button>
                <button type="submit" class="btn btn-primary" (click)=upsert()>{{profil.id ? "Modifier" : "Créer"}}</button>
            </div>
        </div>
    </fieldset>
</form>