<div class="container">
  <h2 class="">
   <small class="pull-left">
    <button class="btn btn-primary" title="Ajouter un utilisateur" (click)=create()>+</button> &nbsp;
  </small>
  &nbsp;Liste des utilisateurs
</h2>
<br>
<form class="form-horizontal" (ngSubmit)="formSubmit()">
 <div class="form-group">
  <table class="table table-striped table-hover ">
   <thead>
    <tr>
     <th> <input type="checkbox" name="selectAll"
           (change)="checkAll($event)" ></th>
     <th>Nom</th>
     <th>Login</th>
     <th>Matricule</th>
     <th>Email</th>
     <th>Actions</th>
   </tr>
 </thead>
 <tbody>
  <tr *ngFor="let user of list" [class.selected]="selected && user.id === selected.id" >
   <td ><div class="checkbox">
    <label>
     <input type="checkbox" name="selections" value="user.checked"
     [(ngModel)]="user.checked" (change)="updateChecked(user, $event)" >
   </label>
   </div></td>
   <td  (click)="select(user)"   >{{user.name}}</td>
   <td  (click)="select(user)"   >Column content</td>
   <td  (click)="select(user)"   >Column content</td>
   <td  (click)="select(user)"   >Column content</td>
 
 <td>
  <a  class="btn btn-success btn-xs" (click)="select(user)" (click)="selectAction('modifier')">Modifier</a>
  <a  class="btn btn-info btn-xs" (click)="select(user)" (click)="selectAction('logins')">Logins</a>
  <a  class="btn btn-warning btn-xs" (click)="select(user)" (click)="selectAction('acess')" >Acess</a>
  <!--<button  class="btn btn-danger btn-xs">Suprimmer</button>-->
</td>

<!-- Buttons : Modifer , Génerer feuille de log-in , Voir acess , Suprimmer  -->
</tr>
</tbody>
</table> 
</div>
  <div *ngIf="selectionDisponible">
    <a id="dll"  [href]="href" class="btn btn-success btn-lg pull-right"  download="logins.txt">
          Telecharger la selection
    </a>
  </div>
  
</form>
</div>
<br/>