<div class="jumbotron">
    <form class="form-horizontal">
        <fieldset>
            <legend>Legend</legend>
            <div class="form-group">
                <p><a class="btn btn-primary btn-lg">Upload New File</a></p>


                <p> <input type="file" name="file" (change)="upload2()" #fileInput> <a class="btn btn-primary btn-lg" href="./bootstrap.css" download>Download Your Fille</a></p>
            </div>
            <div class="progress progress-striped active">
                <div class="progress-bar" style="width: 0%">{{progress}}%</div>
            </div>
            <textarea id='output' class="col-lg-2">{{texte}}</textarea >
			<iframe id="my_iframe" style="display:none;"></iframe>
		</fieldset>
	</form>
</div>